depthai==3.0.0
git+https://github.com/luxonis/depthai-nodes.git@314c5afaa0c8830d16f8876d1561f2f7a66dbd3f
#depthai-nodes==0.3.4
opencv-python-headless~=4.10.0
numpy>=1.22
tokenizers~=0.21.0
onnxruntime
# onnxruntime-gpu # if you want to use CUDAExecutionProvider
requests