depthai==3.2.1
#depthai-nodes==0.3.7
depthai-nodes @ git+https://github.com/luxonis/depthai-nodes.git@c0f382fbe6514b62b8e98b6b805e5023c9c9438c   # depth visualization in ApplyColormap
opencv-contrib-python==4.12.0.88
numpy>=1.22